<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stairway to Heaven</title>
    <%= csrf_meta_tags %>
    <script
      src="https://use.fontawesome.com/8fa52fce7e.js"
      data-version="4.7.0"
      data-url="https://fontawesome.com/v4.7.0/icons/"
    >
    </script>
    <%= yield :stylesheet %>
  </head>

  <body>
    <%# yield %>

    <%= yield :javascript %>
  </body>
</html>
